body,
html {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  /* background-photo by Soumil Kumar from Pexels */
  background: url(header.jpeg) no-repeat center center fixed;
  background-size: cover;

  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
}

h1 {
  font-size: 3rem;
  color: #e2dbdb;
}

.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-xl {
  padding: 1rem 2rem;
}

.buffer {
  height: 12rem;
}
